In [58]:
import pandas as pd

In [59]:
train_data = pd.read_csv('train.csv')
test_data = pd.read_csv('test.csv')

In [60]:
train_data.tail(5)

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
41995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41996,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41997,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41998,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41999,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [61]:
test_data.tail(5)

,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
27995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [62]:
from sklearn.neighbors import KNeighborsClassifier
knnClf = KNeighborsClassifier(weights='distance', n_jobs=-1)

In [63]:
knnClf.fit(train_data.values[:,1:], train_data.values[:,0])

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=-1, n_neighbors=5, p=2,
           weights='distance')

In [64]:
testLabel = knnClf.predict(test_data.values)

In [65]:
result = pd.DataFrame(data=test_data.index, index=None, columns=['ImageId'])

In [66]:
result.head(5)

   ImageId
0        0
1        1
2        2
3        3
4        4

In [67]:
result['Label'] = testLabel

In [70]:
result.head(5)
testLabel[0:10]
test_data.values[0:10]
result.describe()
result.ImageId = result.ImageId + 1

In [71]:
result.to_csv('simple-knn.csv',index=False)